<h1>Demo Apps</h1>

<p>Select an application</p>

<ul>
	<li><%= link_to "Notifier application", sessions_oauth_url(:app => "notifiers") %></li>
	<li><%= link_to "Intranet hosting feed", sessions_oauth_url(:app => "chaouts") %></li>
</ul>	

