body { background-color: gainsboro; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

	
/* end scaffold code */


div.container {
  margin: 30px;	
  width:800px;
}

div#feed-items {

  border-radius:5px;
  background-color: white;
  width:600px;
  padding:12px;
}

img.profile-thumb {}

span.message-body {
	font-family: Arial, Helvetica;
	font-size: 14px;
	height: 0px;
	line-height: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

a.user-name { 
		font-family: Arial, Helvetica;
	font-size: 14px;
	height: 0px;
	line-height: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	
}

div.comments {
  margin-left: 65px; 
  border-radius:5px;
  background-color: PowderBlue ; 
  margin-top: 15px;
  padding:8px;
}

div.feed-item-row {
	margin-top: 15px;
}	

div.comment-row {
  bottom-bottom-style: solid;
  border-color: #333;
  margin-bottom: 10px;	
}
	
span.created-date {
	color: DimGrey;
}

span.bold {
	font-weight: 600;
}	

span#service-status {
	color: green;
	
}	

div#post-text-area, div#post-name-field {
	margin: 10px 0 10px 0px;
}

	
textarea#post-text-area {
	font-size: 16px;
	line-height: 22px;
	width: 450px;
	border: 1px solid #00FFFF;
}	