body { background-color: gainsboro; color: #222; }

body, p, ol, ul, td {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size:   14px;
  line-height: 20px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


a:link {text-decoration:none; color: DarkBlue;} 
a:visited {text-decoration:none; color:DarkBlue;}
a:hover {text-decoration:none; color:#08c;}


div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

	
/* end scaffold code */

/*
div.container {
  margin: 0px, 30px, 30px 30px;	
  width:800px; 
}

*/

div#feed-items, div#publisher, div#search_box {
  border-radius:5px;
  background-color: white;
  padding:12px;
}

div#search_box {
	margin-top: 15px;
}
	
div#feed-items {
  background-color: white;
  margin-bottom: 30px;
}

div#publisher, div#search_box {
  background-color: #E7F5FB;	
  opacity: .8;
}



	
div#post-ask-button {
  margin-top: 8px; /* to align with the textarea default margin */
}	

img.profile-thumb {}

span.message-body {
	font-family: Arial, Helvetica;
	font-size: 14px;
	height: 0px;
	line-height: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

a.user-name { 
	font-family: Arial, Helvetica;
	font-size: 14px;
	height: 0px;
	line-height: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	
}

div.comment-row {
  margin-left: 55px; 
  border-radius:5px;
  background-color: #E7F5FB; 
  margin-top: 15px;
  padding:8px;
}




div.feed-item-row {
	margin-top: 15px;
}	

div.comment {
  bottom-bottom-style: solid;
  border-color: #333;
  margin-bottom: 10px;	
}
	
span.created-date {
	color: DimGrey;
}

span.bold {
	font-weight: 600;
}	

span#service-status {
	color: green;
	
}	

div#post-text-area, div#post-name-field, div#search_box {
	margin: 10px 0 10px 0px;
}

	
textarea#post-text-area, input#post-name-field, input#search-field {
	font-size: 16px;
	line-height: 22px;
	border: 1px solid #00FFFF;
}

div.message, div.comment { margin-left:14px; }

div#what_is_this_app {
	position: absolute;
	left: 0px;
	top:  295px;
	background-color: #555;	
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
     width: 80px; 
	}	
	
div.side-box {
	padding: 6px;
}

a.side-box {
     color: #eee;
     font-weight: 600;
}

/**********************************************/
/***  Left Sidebar ****************************/
/**********************************************/

div.left-sidebar {
  border-radius:5px;
  background-color: white;
  padding:12px;
  margin-bottom: 10px;
}

div.image {
	margin: 10px;
}

select.pretty {
	font-size: 110%;
	border: 0px black inset;
	background: skyBlue;
	color: Black;
}		

/**********************************************/
/***  Header **********************************/
/**********************************************/

span.navigation-text {
	font-size: 22px;
	font-weight: 600;
	color: #555;		
}


span.navigation-text-selected {
	font-size: 22px;
	font-weight: 600;
	color: #000;		
}

div#header-navigation {
	background-color: #eee;	
	border-radius: 4px;
	padding: 6px;
}
	
div#header {
  background-color: SkyBlue;	
  opacity: .7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding:12px;
  margin-bottom: 10px;
}

h3#logo-text {
	font-size: 26px;
	font-weight: 700;
	color: #111;
}			