<div class="span-24 last">
	<h1>Acme Web Hosting Service Status Page</h1>
	<br />

	<h3>The service is currently <span id="service-status" class="loud large">UP</span></h3>
	
	

</div>

	<br />



 
</div>

