<div id="benefits-news" class="span-17">
	
	<p class="explanation-text"> The <a href="#" id="hr-group-members" >HR Benefits team</a> is committed to providing the all the resources needed to  successfully recruit, develop, reward and retain our employees. 
	</p>
	
	<h5>Announcements</h5>
	<p class="explanation-text">On July 1, 2011, the following changes will be made to salesforce.com's California Voluntary Disability Insurance (VDI) plan.  For more information <a id="hr-news" href="#">see here.</a>
	</p>
</div>

<div id="group-members-dialog" >
  
</div>

<script id="dialog-template" type="text/x-handlebars-template">
  <div> HR Benefits Team Members</div><div>&nbsp;</div>
	<ul class="people_list">
    {{#each members}}
    <li><a>{{this}}</a></li>
    {{/each}}
  </ul>
</script>