<div id="publisher" class="span-17 last">
	<%= form_tag(qas_path ) do %>

	  <div class="span-10 last">
		  <% if flash[:error] %>
		    <div id="error_explanation">
		      <h2><%= flash[:error] %></h2>
		    </div>
		  <% end %>
	  </div>


	  
	  <div class="span-17 last">	
	    <%= label_tag(:name, "Do you have any questions or comments for the Benefits team?") %>
	  </div>
	

		
	  <div id="post-text-area" class="span-17 last">
		<div class="span-12">
	      <%= text_area_tag 'text', nil,  :id => "post-text-area" %>
	    </div>
	    <div class="span-1 last" id="post-ask-button">
        	<button name="comment" type="submit" id="post-button" class="cssbutton large blue" >&nbsp;Post&nbsp;</button>
        </div>	
	  </div>
	



	<% end %>
</div>	
