<div id="logo-div" class="span-10">
 <h3 id="logo-text">ACME Engines Intranet</h3>
</div>

<div id="header-navigation" class="span-12 last">
  <span class="navigation-text-selected span-3">HR</span>
  <span class="navigation-text span-3">Finance</span>
  <span class="navigation-text span-3">R&D</span>
  <span class="navigation-text span-3 last">Sales</span>	
</div>

<div id="header-sub-nav" class="span-18">
  <span class="navigation-text span-4">Payroll</span>
  <span class="navigation-text-selected span-4">Benefits</span>
  <span class="navigation-text span-4">New Hires</span>
  <span class="navigation-text span-4 last">Policies</span>
  
</div>
<div class="span-1">&nbsp;</div>
<button name="login" type="submit" id="login" class="prepend-1 span-2 last cssbutton medium blue" >&nbsp;<span style="font-size: 11pt;">Login</span>&nbsp;</button>




	
	
