<div id="logo-div" class="span-10">
 <h3 id="logo-text">ACME Electric Engines</h3>
</div>

<div id="header-navigation" class="span-12 last">
  <span class="navigation-text-selected span-3">Products</span>
  <span class="navigation-text span-3">Services</span>
  <span class="navigation-text span-3">Support</span>
  <span class="navigation-text span-3 last">Company</span>	
</div>




	
	
