<div class="span-8 last left-sidebar" >
  	<%= select "engine", "engine_id", records_for_picker(@records) %>
	
</div>

<div class="span-8 last left-sidebar" >
  	<h4 class="span-8 last">Product Description</h4>
    <p><%= @records(@selected_record) %></p>
	<%= image_tag "engine1.jpg" %>
</div>

<div class="span-8 last left-sidebar" >
  	<%= image_tag "specification.png" %>
	
</div>