<div class="span-6 last left-sidebar" >
  	<h3>Benefits Links</h3>
    <h4  class="span-6 last">
	  Health Benefits
	</h4>
	<h4  class="span-6 last">
	  Day Care
	</h4>
	<h4  class="span-6 last">
	  Commuter Benefits
	</h4>
	<h4  class="span-6 last">
	  Training and Development
	</h4>
	<h4  class="span-6 last">
	  Performance Reviews
	</h4>
	<h4  class="span-6 last">
	  Manager Resources
	</h4>
	<h4  class="span-6 last">
	  Employee Stock Purchase
	</h4>
	<h4  class="span-6 last">
	  Employee Handbook
	</h4>
	
</div>

<div id="faq" class="span-6 last left-sidebar" >
	<h3>Frequently Asked Questions</h3>
	<a href="#" id="copay" class="hashsearch span-6 last">#copay</a>
	<a href="#" id="insurance" class="hashsearch span-6 last">#insurance</a>
	<a href="#" id="dental" class="hashsearch span-6 last">#dental</a>
</div>

<div id="made_by" class="span-6 last left-sidebar" >
	Demo app by <%= link_to "logan henriquez", "https://github.com/henriquez" %>
	<img src="http://www.gravatar.com/avatar/7e8875c83e1a1c66723fb89c2f72b9f6.png" width="32" height="32">
</div>	