<div class="span-8 last left-sidebar" >
  	<%= select "product", "product_id", Product.list %>
	
</div>

<div class="span-8 last left-sidebar" >
  	<h4 class="span-8 last">product description</h4>
    <p> This is a really awesome electrical engine.  Really.  And its big too.</p>
	<%= image_tag "engine1.jpg" %>
</div>

<div class="span-8 last left-sidebar" >
  	<%= image_tag "specification.png" %>
	
</div>