<div class="span-6 last left-sidebar" >
  	<h3>Benefits Links</h3>
    <h4  class="span-6 last">
	  Health Benefits
	</h4>
	<h4  class="span-6 last">
	  Day Care
	</h4>
	<h4  class="span-6 last">
	  Commuter Benefits
	</h4>
	<h4  class="span-6 last">
	  Training and Development
	</h4>
	<h4  class="span-6 last">
	  Performance Reviews
	</h4>
	<h4  class="span-6 last">
	  Manager Resources
	</h4>
	<h4  class="span-6 last">
	  Employee Stock Purchase
	</h4>
	<h4  class="span-6 last">
	  Employee Handbook
	</h4>
	
</div>

<div class="span-6 last left-sidebar" >
	<h3>Frequently Asked Questions</h3>
	<a href="#" class="span-6 last">#Copays</a>
	<a href="#" class="span-6 last">#MBOs</a>
	<a href="#" class="span-6 last">#Lost Employee Badges</a>
</div>	