<div class="span-15 last">
  <br />
  <%= render :partial => 'form' %>
</div>

<div class="span-15 last">
  
  <%= render :partial => 'search_box' %>
</div>

<div class="span-15 last">
  
  <%= render :partial => 'feed' %>
</div>


<div id="what_is_this_app" class="span-4 last">
	<div class="span-2 last side-box"><a href="/qas/what_is_this_app" class="side-box">What is this app?</a></div>
	<div class="span-2 last side-box"><a href="https://github.com/henriquez/chatter-sales" class="side-box" >See the code</a></div>
</div>	