<div id="search_box" class="span-17 last">
	<div class="span-2" style="margin-top: 10px;">	
	    <%= label_tag(:name, "Search") %>
	</div>
	
	  	<div id="search" class="span-10">
		    <%= text_field_tag(:search, "", :maxlength => 35, :size => 35, :id => "search-field", 'data-engine-id' => @records[@selected_engine]['Id'] ) %>
		</div>
	
      <div class="span-2 last" id="post-ask-button">
        <button name="search" type="submit" id="search-button" class="cssbutton medium blue" >&nbsp;<span style="font-size: 11pt;">Search</span>&nbsp;</button>
      </div>
	 
</div>	