
<% if @chatouts.empty? %>
	$('div#feed-component').replaceWith("<%= raw escape_javascript("<h3 class='span-8'>Sorry, not finding anything like that</h3>") %>"));
<% else %>
    $('div#feed-component').replaceWith("<%= raw escape_javascript(render :partial => 'feed') %>");
<% end %>