<div>&nbsp;</div>
<h3>How does this app work?</h3>

<p>This application demonstrates how Chatter can be integrated into a traditional product information site to make it social, thereby better servicing customers.  Chatter adds a news feed to each product where the product's users can get updates and new buyers can ask questions.  Product buyers can interact with each other and salespeople.
	
The questions are posted to a record feed inside a Salesforce organization - one feed for each product.  This lets a sales team answer product-specific questions by adding comments to each feed item.  </p>

<p>Here's a screenshot of what the application looks like inside the Chatter group</p>
<div>
 <%= image_tag "/images/inside-the-org.png" %> 
</div>
<div>&nbsp;</div>
<p>A user called "Question" has been created in the group that proxies external users.</p>