<div>&nbsp;</div>
<h3>Salesforce Chatter makes your intranet part of the Social Enterprise</h3>

<div class="span-20">
	<p class="explanation-text">This application demonstrates how Chatter transforms an intranet site from a static set of links into a dynamic part of the social enterprise.

	<p class="explanation-text">Before the Chatter integration the HR benefits intranet site had some static information and a list of HR department employee email addresses for questions.  Employees often asked the same questions over and over.  Because the email exchanges were one to one this accumulated knowledge couldn't be searched or leveraged.  If the HR employee that was emailed was on vacation questions might go unanswered.</p>

	<p class="explanation-text">These problems were solved by exporting Chatter to the HR Benefits intranet site. Inside ACME Electric Engines' Salesforce organization there's a group called "Employee Benefits" that's managed by the HR department. The Chatter feed for this group is mirrored on their intranet site.   Employees that have questions can first search the group to see if their question has already been answered, saving time.  Other departments at Acme like Finance or R&D have similar group feeds on their intranet sites.  Any team that services internal clients or answers questions from other departments can leverage Chatter on their wiki, Sharepoint site, or other intranet platform.  </p>

    <p class="explanation-text">Chatter social data is used to dynamically update the intranet site without IT intervention.  For example when the HR team answers frequently asked questions they mark them with hashtags for future reference. This data updates dynamically on the HR intranet site using the Chatter REST API.  Team members can publish announcements and news to the site header by using hastags as well.</p>	 

	<p class="explanation-text">The group feed is extracted using the Chatter REST API, which also enables search.  See the <a href="http://developer.force.com/chatter-api">Chatter REST API resource page</a> for more information.
	</p>

	<p class="explanation-text">Here's what the application looks like inside the Chatter group.</p>
</div>
	
<div>
 <%= image_tag "/images/inside-the-org.png" %> 
</div>
<div>&nbsp;</div>
