<div>&nbsp;</div>
<h3>How does this app work?</h3>

<p>This application takes questions from users visiting an external site.  The questions are posted to a Chatter group inside a Salesforce organization.  This lets a team who are members of that group answer questions by adding comments to each feed item.  This type of application has many intranet and web applications.  The advantages over using email are significant - it lets a team work the questions together and ensures that questions directed to one employee aren't ignored because the employee is on vacation or busy.  </p>

<p>Here's a screenshot of what the application looks like inside the Chatter group</p>
<div>
 <%= image_tag "/images/inside-the-org.png" %> 
</div>
<div>&nbsp;</div>
<p>A user called "Question" has been created in the group that proxies external users.</p>